@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');

@font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-SemiBold";
                          src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
                        }
                        
.bp2-menu834 {
  width               : 100%;
  min-width           : 834px;
  height              : 100vh;
  min-height          : 1194px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-menu834 .bp2-herosection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 1134px;
  width               : 834px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-menu834 .bp2-herosection .bp2-bg {
  background-color    : rgba(253, 249, 248, 1.0);
  top                 : 0px;
  height              : 1134px;
  width               : 834px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-menu834 .bp2-herosection .bp2-work {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp2-menu834 .bp2-herosection .bp2-work:hover {
  transform           : scale(1.1);
}
.bp2-menu834 .bp2-herosection .bp2-products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp2-menu834 .bp2-herosection .bp2-products:hover {
  transform           : scale(1.1);
}
.bp2-menu834 .bp2-herosection .bp2-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp2-menu834 .bp2-herosection .bp2-about:hover {
  transform           : scale(1.1);
}
.bp2-menu834 .bp2-herosection .bp2-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp2-menu834 .bp2-herosection .bp2-contact:hover {
  box-shadow          : inset 0 -1px 0 rgba(0,0,0,0.1), 0 1px 2px rgba(28,35,139,0.1), 0 2px 5px rgba(41,52,204,0.2);
}
.bp2-menu834 .bp2-herosection .bp2-contact .bp2-rectangle {
  background-color    : rgba(0, 123, 255, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-menu834 .bp2-herosection .bp2-contact .bp2-contact1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.bp2-menu834 .bp2-navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 834px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-menu834 .bp2-navbar .bp2-rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 834px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.bp2-menu834 .bp2-navbar .bp2-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 28px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-menu834 .bp2-navbar .bp2-logo .bp2-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-menu834 .bp2-navbar .bp2-closebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 758px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-menu834 .bp2-navbar .bp2-closebutton .bp2-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp3-menu768 {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-menu768 .bp3-herosection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 964px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-menu768 .bp3-herosection .bp3-bg {
  background-color    : rgba(253, 249, 248, 1.0);
  top                 : 0px;
  height              : 964px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-menu768 .bp3-herosection .bp3-work {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp3-menu768 .bp3-herosection .bp3-work:hover {
  transform           : scale(1.1);
}
.bp3-menu768 .bp3-herosection .bp3-products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp3-menu768 .bp3-herosection .bp3-products:hover {
  transform           : scale(1.1);
}
.bp3-menu768 .bp3-herosection .bp3-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp3-menu768 .bp3-herosection .bp3-about:hover {
  transform           : scale(1.1);
}
.bp3-menu768 .bp3-herosection .bp3-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp3-menu768 .bp3-herosection .bp3-contact:hover {
  box-shadow          : inset 0 -1px 0 rgba(0,0,0,0.1), 0 1px 2px rgba(28,35,139,0.1), 0 2px 5px rgba(41,52,204,0.2);
}
.bp3-menu768 .bp3-herosection .bp3-contact .bp3-rectangle {
  background-color    : rgba(0, 123, 255, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-menu768 .bp3-herosection .bp3-contact .bp3-contact1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.bp3-menu768 .bp3-navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 768px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-menu768 .bp3-navbar .bp3-rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.bp3-menu768 .bp3-navbar .bp3-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 28px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-menu768 .bp3-navbar .bp3-logo .bp3-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-menu768 .bp3-navbar .bp3-closebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 694px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-menu768 .bp3-navbar .bp3-closebutton .bp3-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp4-menu414 {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 916px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp4-menu414 .bp4-navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 414px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-menu414 .bp4-navbar .bp4-rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.bp4-menu414 .bp4-navbar .bp4-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 18px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-menu414 .bp4-navbar .bp4-logo .bp4-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-menu414 .bp4-navbar .bp4-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-menu414 .bp4-herosection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 856px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-menu414 .bp4-herosection .bp4-bg {
  background-color    : rgba(253, 249, 248, 1.0);
  top                 : 0px;
  height              : 856px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-menu414 .bp4-herosection .bp4-work {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp4-menu414 .bp4-herosection .bp4-work:hover {
  transform           : scale(1.1);
}
.bp4-menu414 .bp4-herosection .bp4-products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp4-menu414 .bp4-herosection .bp4-products:hover {
  transform           : scale(1.1);
}
.bp4-menu414 .bp4-herosection .bp4-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp4-menu414 .bp4-herosection .bp4-about:hover {
  transform           : scale(1.1);
}
.bp4-menu414 .bp4-herosection .bp4-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp4-menu414 .bp4-herosection .bp4-contact:hover {
  box-shadow          : inset 0 -1px 0 rgba(0,0,0,0.1), 0 1px 2px rgba(28,35,139,0.1), 0 2px 5px rgba(41,52,204,0.2);
}
.bp4-menu414 .bp4-herosection .bp4-contact .bp4-rectangle {
  background-color    : rgba(0, 123, 255, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp4-menu414 .bp4-herosection .bp4-contact .bp4-contact1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp5-menu375 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp5-menu375 .bp5-navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 375px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp5-menu375 .bp5-navbar .bp5-rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.bp5-menu375 .bp5-navbar .bp5-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 18px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp5-menu375 .bp5-navbar .bp5-logo .bp5-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp5-menu375 .bp5-navbar .bp5-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 322px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp5-menu375 .bp5-herosection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 607px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp5-menu375 .bp5-herosection .bp5-bg {
  background-color    : rgba(253, 249, 248, 1.0);
  top                 : 0px;
  height              : 607px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp5-menu375 .bp5-herosection .bp5-work {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp5-menu375 .bp5-herosection .bp5-work:hover {
  transform           : scale(1.1);
}
.bp5-menu375 .bp5-herosection .bp5-products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp5-menu375 .bp5-herosection .bp5-products:hover {
  transform           : scale(1.1);
}
.bp5-menu375 .bp5-herosection .bp5-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp5-menu375 .bp5-herosection .bp5-about:hover {
  transform           : scale(1.1);
}
.bp5-menu375 .bp5-herosection .bp5-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp5-menu375 .bp5-herosection .bp5-contact:hover {
  box-shadow          : inset 0 -1px 0 rgba(0,0,0,0.1), 0 1px 2px rgba(28,35,139,0.1), 0 2px 5px rgba(41,52,204,0.2);
}
.bp5-menu375 .bp5-herosection .bp5-contact .bp5-rectangle {
  background-color    : rgba(0, 123, 255, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp5-menu375 .bp5-herosection .bp5-contact .bp5-contact1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp1-menu1024 {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1366px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-menu1024 .bp1-herosection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 1306px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-menu1024 .bp1-herosection .bp1-bg {
  background-color    : rgba(253, 249, 248, 1.0);
  top                 : 0px;
  height              : 1306px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-menu1024 .bp1-herosection .bp1-work {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp1-menu1024 .bp1-herosection .bp1-work:hover {
  transform           : scale(1.1);
}
.bp1-menu1024 .bp1-herosection .bp1-products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp1-menu1024 .bp1-herosection .bp1-products:hover {
  transform           : scale(1.1);
}
.bp1-menu1024 .bp1-herosection .bp1-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp1-menu1024 .bp1-herosection .bp1-about:hover {
  transform           : scale(1.1);
}
.bp1-menu1024 .bp1-herosection .bp1-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp1-menu1024 .bp1-herosection .bp1-contact:hover {
  box-shadow          : inset 0 -1px 0 rgba(0,0,0,0.1), 0 1px 2px rgba(28,35,139,0.1), 0 2px 5px rgba(41,52,204,0.2);
}
.bp1-menu1024 .bp1-herosection .bp1-contact .bp1-rectangle {
  background-color    : rgba(0, 123, 255, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-menu1024 .bp1-herosection .bp1-contact .bp1-contact1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.bp1-menu1024 .bp1-navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 1024px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-menu1024 .bp1-navbar .bp1-rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.bp1-menu1024 .bp1-navbar .bp1-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 28px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-menu1024 .bp1-navbar .bp1-logo .bp1-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-menu1024 .bp1-navbar .bp1-closebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 898px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-menu1024 .bp1-navbar .bp1-closebutton .bp1-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp6-menu320 {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 568px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp6-menu320 .bp6-navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 320px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp6-menu320 .bp6-navbar .bp6-rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.bp6-menu320 .bp6-navbar .bp6-logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 18px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp6-menu320 .bp6-navbar .bp6-logo .bp6-logo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp6-menu320 .bp6-navbar .bp6-path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 273px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp6-menu320 .bp6-herosection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 508px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp6-menu320 .bp6-herosection .bp6-bg {
  background-color    : rgba(253, 249, 248, 1.0);
  top                 : 0px;
  height              : 508px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp6-menu320 .bp6-herosection .bp6-work {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp6-menu320 .bp6-herosection .bp6-work:hover {
  transform           : scale(1.1);
}
.bp6-menu320 .bp6-herosection .bp6-products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp6-menu320 .bp6-herosection .bp6-products:hover {
  transform           : scale(1.1);
}
.bp6-menu320 .bp6-herosection .bp6-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 57, 118, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.bp6-menu320 .bp6-herosection .bp6-about:hover {
  transform           : scale(1.1);
}
.bp6-menu320 .bp6-herosection .bp6-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.bp6-menu320 .bp6-herosection .bp6-contact:hover {
  box-shadow          : inset 0 -1px 0 rgba(0,0,0,0.1), 0 1px 2px rgba(28,35,139,0.1), 0 2px 5px rgba(41,52,204,0.2);
}
.bp6-menu320 .bp6-herosection .bp6-contact .bp6-rectangle {
  background-color    : rgba(0, 123, 255, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp6-menu320 .bp6-herosection .bp6-contact .bp6-contact1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 374px) {
  .bp6-menu320 {
    display             : block;
  }
  .bp5-menu375 {
    display             : none;
  }
  .bp4-menu414 {
    display             : none;
  }
  .bp3-menu768 {
    display             : none;
  }
  .bp2-menu834 {
    display             : none;
  }
  .bp1-menu1024 {
    display             : none;
  }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
  .bp6-menu320 {
    display             : none;
  }
  .bp5-menu375 {
    display             : block;
  }
  .bp4-menu414 {
    display             : none;
  }
  .bp3-menu768 {
    display             : none;
  }
  .bp2-menu834 {
    display             : none;
  }
  .bp1-menu1024 {
    display             : none;
  }
}
@media screen and (min-width: 414px) and (max-width: 767px) {
  .bp6-menu320 {
    display             : none;
  }
  .bp5-menu375 {
    display             : none;
  }
  .bp4-menu414 {
    display             : block;
  }
  .bp3-menu768 {
    display             : none;
  }
  .bp2-menu834 {
    display             : none;
  }
  .bp1-menu1024 {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 833px) {
  .bp6-menu320 {
    display             : none;
  }
  .bp5-menu375 {
    display             : none;
  }
  .bp4-menu414 {
    display             : none;
  }
  .bp3-menu768 {
    display             : block;
  }
  .bp2-menu834 {
    display             : none;
  }
  .bp1-menu1024 {
    display             : none;
  }
}
@media screen and (min-width: 834px) and (max-width: 1023px) {
  .bp6-menu320 {
    display             : none;
  }
  .bp5-menu375 {
    display             : none;
  }
  .bp4-menu414 {
    display             : none;
  }
  .bp3-menu768 {
    display             : none;
  }
  .bp2-menu834 {
    display             : block;
  }
  .bp1-menu1024 {
    display             : none;
  }
}
@media screen and (min-width: 1024px) {
  .bp6-menu320 {
    display             : none;
  }
  .bp5-menu375 {
    display             : none;
  }
  .bp4-menu414 {
    display             : none;
  }
  .bp3-menu768 {
    display             : none;
  }
  .bp2-menu834 {
    display             : none;
  }
  .bp1-menu1024 {
    display             : block;
  }
}